* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
}

#app {
  min-height: 100vh;
  padding: 2rem;
  background-color: #000;
  color: #fff;
  font-size: 100%;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0,0,0,0);
}